<h1>shrnk</h1>

<%= form_for @link do |f| %>
  <%= f.text_field :original_url %>
  <%= f.submit 'shrnk!' %>
<% end %>

<% if @new_link %>
  <% if @new_link.errors.blank? %>
    <em><%= @new_link.original_url %></em>
    <strong><%= @new_link.short_url %></strong>
  <% else %>
    <% @new_link.errors.full_messages.each do |e| %>
      <em><%= e %></em>
    <% end %>
  <% end %>
<% end %>